<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/crud.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Read</title>
</head>
<body>
    
    <%- include("_header") %>
    
    <div class="container" style="width: 900px;">
        <h1 class="mb-1"><%= article.title %></h1>
        <div class="card-text mb-2" style="color: black; margin-bottom: 20px;">
            <%= article.description %> 
        </div>
        <div class="text-muted mb-2">
            <%= article.createdAT.toLocaleDateString() %> 
        </div><br>
        <div>
            <%- article.sanitizedHtml %> 
        </div>
        <a href="#stories" class="btn btn-secondary" id="all" style="margin-bottom: 50px; margin-top: 10px;">Go back</a>
    </div>

    <%- include("_footer") %> 
    
</body>
</html>